---
---

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$linkColor: #212529;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor;
}

/* homepage photo sizing */
.home-photo {
  width: 360px !important;
  height: auto !important;
  max-width: 360px !important;
}